apiVersion: v1
kind: Secret
metadata:
  name: acme-account
  namespace: kube-system
type: Opaque
data:
  ACME_EMAIL: $(secret-from-gpg <<< "
    -----BEGIN PGP MESSAGE-----

    hQIMAzy6/E8lNkAOAQ//WM8vvu94IRs7IEe988uR8qlDNqPhMoOAkkERxLoqRlqy
    s9gu08PyVnNI3+N8hr+IkEFHjp6nW0YbelwnmPtLJ9atWOYuDWiK+51ldGDoKJsq
    iD+iDIHLGtFEYkOEOSdbSSA1VClsH5RkGF4Vsa4Mhvl9W4Bsie5yUzGaEFQS0VbM
    uZMonrZdKN8eCDDyZHpSObG74B4Zjk4Y/RkXHQWjZcBnQ93elE8nXlFVr49PUD8q
    Dvhi9e10M/KJR7CI5oXI3IrKXawVHToF9mpaeqDKUFBW5+MXRgo1ENvkyEIU7o+d
    A7B88zOpbez4qEVZMkkRnm4MsLwiOSzDVMpcteWycvpFEe+y+oONYZrK3ACb9rvi
    7LCwNyjItuCo1DKmPF4h/dadgSFs0G5rrn1d9ND6Zw78Qd+pXI+o9OcTahlZBy/K
    QLVz3SqsmU0vEq0HgBmlt10qu+Wy5QqRhWWDOxFmvZPVvjWfxWcdde1NDh+T9N1a
    poKhxov335O7dlHGn88cyR5aXDyNJASNjxq8Mp5EQ5aj0wr+4g+rvRBPeLH8Vwme
    cOPdtBZ3PQ9CEMc6my49hIq7ilfv8YMhldUHaRWowBMpTiCZlxAlHVLifdY8hnPp
    wfOBtdQni0l9fkvtg9laHYgqlc+/jHIaGhr/HlkcaM4aJ/4dwKAx+l4tpsqtn2DS
    VgH5osdD26TwiBOs07cnNizxwT5o4gEIjGh/qBtuIGyU8uYb4Ikz8STvWHO/TSKx
    8ImQ1yEAsxKzCbSnh0h1vtiP7w8+JHIRF4jAYtKqk8wwFjsVKJkc
    =CCr9
    -----END PGP MESSAGE-----")
