apiVersion: certmanager.k8s.io/v1alpha1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    server: https://acme-v01.api.letsencrypt.org/directory
    email: $(string-from-gpg <<< "
      -----BEGIN PGP MESSAGE-----

      hQIMAzy6/E8lNkAOAQ/9G9eB+e759WhF7qR3uvlAoPDnMH27lxJY89KP0B9Jy23U
      eNqyc0lDrGY1SWq1KLn6fkEKDYcwLuyoKtlktjj2WsqLyPNyehSrBXXIIgmpXmdL
      N+L9yXM4TMQdq63+Qm3GeQpdRG/mKLnMqekTGdHilpStFLBIk0qEdmn+hk0GjFVu
      fkjIFkl1h0b2BGnrZsPsGSGIgCjwnh1nyBNvdZn7TX5HL1youZZJj4geUITmudBh
      4zh+vRXCoGE2l2eK9+IBaQH+Za4Cxtx7GpktPHyGnIqG+0ukOUc9y0XRNCuC1kdm
      L4Xy7jVAI3OTQ6AWMwrASnsA+TgAgv9Z/PjB7gipPbN7T7SKqZzZm0w/MhJLdj3/
      xemj2HusXtL0xghnNP5mvqp8ASpjv6EUaE9K+NLZ4q4Xn8oS7G0/lhjgPnkC4KXF
      GUNzOptScuTodTsQFa24kwirjUbu74zLlb8MMosniOR1VxenlM5gkZVtGSN1vCd3
      aKvjmqkOEFX0rKArKLbNL02s4TZOKuCCBjFzk1jSxDD5l4fzA5v3+u9RNXRgw6H/
      meH4SXLjzoo3mCHPvSk2keo+nNPDS2w8Byq6njmfbKiHKvoAqNaWwV4EAgJklnuN
      1pDx5jOKtLZoUXfgJtkqzz1TfBwkkzXebyPDqBM+8BPtYsvc+TLNbmfJcsZ3bzTS
      VgHo0Z7tzKJRzpJoc1S3evJBdS/u/UdxWLSG5hMS6ahzcdIFVbZcoB5DyJKgNcq3
      kSYY4iMAWQ/+LV59GVBFoa0NxnTaME8jsITPNMvzMgM404renD6U
      =w3H9
      -----END PGP MESSAGE-----")
    privateKeySecretRef:
      name: letsencrypt
    dns01:
      providers:
      - name: cloudflare-dns
        cloudflare:
          email: $(string-from-gpg <<< "
            -----BEGIN PGP MESSAGE-----

            hQIMAzy6/E8lNkAOARAA0Cx7CD1SGdjz3CNjBHCJw4Jig1Q3SYV5+/SiU68cbUCC
            F2tZ2YSvCHW5WreW5LsGJ1X1jQIGTmNRzXiFggzGeUz1yHcJG17TkyzyDm/BggRx
            Q2Kx+82uzUVTSPGZUWKOVU5JKHYgMQgNrDriGAOS/oE08XSQYUWDExwGdVCljILS
            rrJawlo7DJA47MiZ5okyKyMdHfizfPlxv+vOpxNEcDkBTomjwT79JbWXVhCN9Fip
            aHid/gJ8vC1J3WO5ubOWYSnGokCcMRTH1gbWnwC7TcsFFancnNN/K7AF2mSVwKd7
            gD4WJ0xWJcqzBIX2GLPFLf1UtJOe+2J2ZlSygyC9RVqf00TB1VbcEx2oglq16MIB
            cxxFtOfcQ/jlVt5cbvjtOyjCIoWh2CoEz24IEi1URDOFOsTAvVwAIM2xejPiYxak
            /wkavERncWxWzeU0yNePzprOoEKO/vxAo1ktIWmO2HuvAPQ92Tf82EgreQBNjNSv
            QWqPZZ2t6cF36DYBW1ksTE209cXjbuwv4Et9N8buRSlotB8pl29rnJqtqC5oneHm
            2SdG6Fvasgsj/IgZ0lferVw5S9kIppBro1iNAg9HYi0Ql5skdiKbxRQp122G4vOT
            z7LATnI+B6UJ46bwqD7QQcaHXlME+9oNOarvcOpIJ/TA6uwqyLYv6UmbxT7el3nS
            SgFvMPHI4InetDIUv5c5JLQI6fboKAxG3GfdarlMQbjnkXQEKmWSW6k8uwNeZf49
            gxBeJ8lnus920OWAgLGfEsM8tzdsjctWkRVj
            =t5rl
            -----END PGP MESSAGE-----")
          apiKeySecretRef:
            name: cloudflare-api
            key: key
