hosts = ${DATABASE_HOST}
user = ${DATABASE_USER}
password = ${DATABASE_PASSWORD}
dbname = ${DATABASE_NAME}
table = domains
select_field = domain
where_field = domain
additional_conditions = AND enabled = 1