hosts = ${DATABASE_HOST}
user = ${DATABASE_USER}
password = ${DATABASE_PASSWORD}
dbname = ${DATABASE_NAME}
table = users
select_field = maildir
where_field = username
additional_conditions = AND enabled = 1